---
---

<!-- Aurora blobs -->
<div class="aurora-container" aria-hidden="true">
  <div class="aurora-blob aurora-blob--1"></div>
  <div class="aurora-blob aurora-blob--2"></div>
  <div class="aurora-blob aurora-blob--3"></div>
</div>

<!-- Floating particles -->
<div class="particles-container" aria-hidden="true">
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
</div>
