---
// Decorative mesh-gradient background (4 blurred blobs).
---
<div class="mesh" aria-hidden="true">
  <div class="mesh__blob mesh__blob--1"></div>
  <div class="mesh__blob mesh__blob--2"></div>
  <div class="mesh__blob mesh__blob--3"></div>
  <div class="mesh__blob mesh__blob--4"></div>
</div>
